.header {
  background: #ffdad5;
  padding-top: 20px;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    column-gap: 60px;
  }

  &__links {
    display: flex;
    column-gap: 40px;
  }

  &__link {
    color: var(--gray-800, #424551);
    font-weight: 700;

    &:hover {
      color: #FF3F3A;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    column-gap: 26px;
  }

  &__login-svg {
    position: absolute;
    right: 14.3%;
  }

  &__register {
    background: transparent;
    color: #424551;
    font-weight: 700;
    cursor: pointer;
    border: none;
    padding-left: 36px;
  }

  &__burgerMenu {
    display: none;

    &-links {
      display: flex;
      column-gap: 30px;
    }

    &-btns {
      display: flex;
      column-gap: 30px;
      align-items: center;
    }
  }

  &__burger {
    width: 50px;
    height: 45px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      width: 100%;
      height: 3%;
      background: #1E212C;
      position: relative;
      border-radius: 3px;

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        width: 100%;
        height: 3px;
        background: #1E212C;
        border-radius: 3px;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 3px;
        background: #1E212C;
        border-radius: 3px;
      }
    }
  }
}
@media(max-width: 992px) {
  .header__links, .header__right {
    display: none;
  }
  .header__burgerMenu {
    display: flex;
    column-gap: 40px;
    align-items: center;
    position: absolute;
    top: 100%;
    background: #fff;
    padding: 20px 0;
    left: 0;
    border-radius: 0 0 20px 20px;
    &.active{
      top: 20px;
      transform: translateY(0);
    }
  }

  .header__burger{
    display: flex;
    &.active{
      span{
        &::before{
          top: 0;
          transform: rotate(45deg);
        }
        &::after{
          top: 0;
          transform: rotate(45deg);
        }
      }
    }
  }

}

@media(max-width: 768px) {
  .header__burgerMenu {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media(max-width: 500px){
  .header__burgerMenu-links{
    flex-wrap: wrap;
    column-gap: 20px;
  }
}
